APP_NAME=finance-control-backend
ENVIRONMENT=dev
API_TOKEN=troque-este-token
DATABASE_URL=postgresql+psycopg://postgres:postgres@db:5432/finance_control
POSTGRES_DB=finance_control
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
