{% extends "admin/base.html" %}
{% block title %}Vis&atilde;o conciliada{% endblock %}
{% block extra_head %}{% include "admin/partials/analysis_styles.html" %}{% endblock %}
{% block content %}
{% set analysis_page_title = "Visão conciliada" %}
{% set analysis_page_intro = "Conta e faturas conciliadas no período." %}
{% set analysis_form_action = "/admin/analysis" %}
{% set analysis_submit_label = "Aplicar" %}
{% set analysis_show_generate = True %}
{% include "admin/partials/analysis_period_form.html" %}

{% include "admin/partials/analysis_page_shell.html" %}
{% endblock %}
